<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/FeyverkSoft/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="FeyverkSoft" />
      <add key="ClearTextPassword" value="8c515255b6b2622df1d8fdd43de3310b47b583ac" />
    </github>
  </packageSourceCredentials>
</configuration>